.big-button {
    background: $rawsienna;
    border: none;
    border-bottom: 0.6rem solid darken($rawsienna, 10%);
    color: white;
    font-weight: bold;
    font-size: $l-size;
    width: 100%;
    margin-bottom: $m-size;
    padding: 2.4rem;
}

.big-button:disabled {
    opacity: 0.5;
}

// Smaller buttons in our app
.button {
    background: $rawsienna;
    border: none;
    border-bottom: 0.3rem solid darken($rawsienna, 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
}

.button--link {
    background: none;
    border: none;
    color: $pale-spring-bud;
    padding: 0;
}

@media (min-width: $desktop-break-point) {
    .big-button {
        margin-bottom: $xl-size;
    }
}
