// Definings colors variables
$dark-byzantium: #51344d;
$pale-spring-bud: #E7EBC5;
$eggplant: #6F5060;
$rawsienna: #EA8C55;
$byzantium: #3E283B;
$mountain-pink: #A17D8F;

// Our spacing variables
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.6rem;
$xl-size: 4.8rem;
$desktop-break-point: 45rem;
